#!/bin/bash
ENVIRONMENT="dev"

# General.
KEEP_OLD_BACKUPS=false
REPOSITORY="git@github.com:$PROJECT_MACHINE_NAME/$PROJECT_MACHINE_NAME.git"

# Directories.
LOCAL_DOCROOT="/var/www/devbox/$PROJECT_MACHINE_NAME"
LOCAL_DIRECTORY="$LOCAL_DOCROOT/sites"
LOCAL_MAKE_FILE="$LOCAL_DIRECTORY/all/glacier.make"
LOCAL_BACKUP_DIRECTORY="/var/www/$PROJECT_MACHINE_NAME/backup"

REMOTE_DOCROOT="/var/www/$PROJECT_MACHINE_NAME"
REMOTE_DIRECTORY="$REMOTE_DOCROOT/web/sites"
REMOTE_MAKE_FILE="$REMOTE_DIRECTORY/all/glacier.make"
REMOTE_BACKUP_DIRECTORY="/var/www/$PROJECT_MACHINE_NAME/backup"
