#!/bin/bash
ENVIRONMENT="dev"

# Git.
REPOSITORY="git@github.com:PROJECT_MACHINE_NAME_PLACEHOLDER/PROJECT_MACHINE_NAME_PLACEHOLDER.git"

# Directories.
DOCROOT="/var/www/devbox/PROJECT_MACHINE_NAME_PLACEHOLDER"
WORKSPACE="$DOCROOT/sites"
WORKSPACE_DEFAULT="$WORKSPACE/default"
MAKE_FILE="$WORKSPACE/glacier.make"
MAKE_FILE_FEATURES="$WORKSPACE/glacier.features.make"
BACKUP_DIRECTORY="$ENVIRONMENT_DIRECTORY/backup"

# FTP data.
# (only needed if you plan to use deploy_ftp.sh).
FTP_HOST=""
FTP_USER=""
FTP_PASS=""
FTP_DOCROOT="/"
FTP_DELETE="--delete"
FTP_EXCLUDE="--exclude tmp/ --exclude stats/"
