#!/bin/bash
# Unset the GIT_DIR variable so it is possible
# to pull origin into the deployment repository.
unset GIT_DIR



STAGING_DOCROOT="/var/www/PROJECT_NAME/staging"
STAGING_WORKSPACE="$STAGING_DOCROOT/sites"
STAGING_GLACIER_DEPLOY_DIRECTORY="/PATH/TO/STAGING/GLACIER/DEPLOY/DIRECTORY"

PRODUCTION_DOCROOT="/var/www/PROJECT_NAME/production"
PRODUCTION_WORKSPACE="$PRODUCTION_DOCROOT/sites"
PRODUCTION_GLACIER_DEPLOY_DIRECTORY="/PATH/TO/PRODUCTION/GLACIER/DEPLOY/DIRECTORY"



while read oldrev newrev refname
do
  BRANCH=$(git rev-parse --symbolic --abbrev-ref $refname)
  if [ "$BRANCH" == "staging" ]
  then
    ( cd "$STAGING_GLACIER_DEPLOY_DIRECTORY" && ./snapshot.sh )
    chmod 755 "$STAGING_WORKSPACE/default"
    chmod 644 "$STAGING_WORKSPACE/default/settings.php"
    ( cd "$STAGING_WORKSPACE" && git pull origin staging )
    chmod 555 "$STAGING_WORKSPACE/default"
    chmod 444 "$STAGING_WORKSPACE/default/settings.php"
    ( cd "$STAGING_GLACIER_DEPLOY_DIRECTORY" && ./build.sh -no-snapshot )
  fi

  if [ "$BRANCH" == "production" ]
  then
    ( cd "$PRODUCTION_GLACIER_DEPLOY_DIRECTORY" && ./snapshot.sh )
    chmod 755 "$PRODUCTION_WORKSPACE/default"
    chmod 644 "$PRODUCTION_WORKSPACE/default/settings.php"
    ( cd "$PRODUCTION_WORKSPACE" && git pull origin production )
    chmod 555 "$PRODUCTION_WORKSPACE/default"
    chmod 444 "$PRODUCTION_WORKSPACE/default/settings.php"
    ( cd "$PRODUCTION_GLACIER_DEPLOY_DIRECTORY" && ./build.sh -no-snapshot )
  fi
done
